Django>=2.2.0
# psycopg2==2.8.2
wagtail>=2.8,<2.9
python-crontab
# wagtailmedia
django-cors-headers
django-storages
azure
coverage
gunicorn
flake8
django-debug-toolbar
factory-boy
django_extensions
jsonschema

# django-snapshotpublisher==0.3
git+https://github.com/nhsuk/django-snapshotpublisher#egg=django-snapshotpublisher
